#.
Basic data types in R can be divided into the following types:

* numeric - (10.5, 55, 787)
* integer - (1L, 55L, 100L, where the letter "L" declares this as an integer)
* complex - (9 + 3i, where "i" is the imaginary part)
* character (a.k.a. string) - ("k", "R is exciting", "FALSE", "11.5")
* logical (a.k.a. boolean) - (TRUE or FALSE)

We can use the class() function to check the data type of a variable:

In [13]:
num <- 50L
class(num)

[1] "numeric"

In [8]:
num <- 50L
class(num)

[1] "integer"

In [9]:
num <- 50i
class(num)

[1] "complex"

In [10]:
name <- "ABC"
class(name)

[1] "character"

In [15]:
num1 <- 50.9L
num2 <- 50
num1 + num2

[1] 100.9