<a href="https://colab.research.google.com/github/YahiaML/W3scools-R-course/blob/main/L_14_lists_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vectors (= same type lists)
A vector is simply a list of items that are of the same type.

To combine the list of items to a vector, use the c() function and separate the items by a comma.

In [50]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)
names_and_ages

[[1]]
[1] "Yahia"

[[2]]
[1] 21

[[3]]
[1] "Abdo"

[[4]]
[1] 20

[[5]]
[1] "Ammar"

[[6]]
[1] 19

[[7]]
[1] "Saeed"

[[8]]
[1] 20

[[9]]
[1] "Waeel"

[[10]]
[1] 20

#Find the length

In [51]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)
length(names_and_ages)

[1] 10

# There is no SORT for lists

#Access Lists

In [76]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)

names_and_ages[1]   
names_and_ages[c(1,3)]    # names_and_ages[1,3] is not going to work
names_and_ages[c(1:3)]
(names_and_ages)[1:3]

[[1]]
[1] "Yahia"

[[1]]
[1] "Yahia"

[[2]]
[1] "Abdo"

[[1]]
[1] "Yahia"

[[2]]
[1] 21

[[3]]
[1] "Abdo"

[[1]]
[1] "Yahia"

[[2]]
[1] 21

[[3]]
[1] "Abdo"

#Change Item Value

In [62]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)

names_and_ages[1] <- "Yahia_ML"
names_and_ages

[[1]]
[1] "Yahia_ML"

[[2]]
[1] 21

[[3]]
[1] "Abdo"

[[4]]
[1] 20

[[5]]
[1] "Ammar"

[[6]]
[1] 19

[[7]]
[1] "Saeed"

[[8]]
[1] 20

[[9]]
[1] "Waeel"

[[10]]
[1] 20

#Add List Items

In [68]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)

names_and_ages <- append(names_and_ages, c("Mohannad", 20))    # we must use vector if we want to append more than 1 value
names_and_ages

[[1]]
[1] "Yahia"

[[2]]
[1] 21

[[3]]
[1] "Abdo"

[[4]]
[1] 20

[[5]]
[1] "Ammar"

[[6]]
[1] 19

[[7]]
[1] "Saeed"

[[8]]
[1] 20

[[9]]
[1] "Waeel"

[[10]]
[1] 20

[[11]]
[1] "Mohannad"

[[12]]
[1] "20"

#Deleting items

In [72]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)
names_and_ages <- names_and_ages[-c(1, 2)]
names_and_ages

[[1]]
[1] "Abdo"

[[2]]
[1] 20

[[3]]
[1] "Ammar"

[[4]]
[1] 19

[[5]]
[1] "Saeed"

[[6]]
[1] 20

[[7]]
[1] "Waeel"

[[8]]
[1] 20

#Check if Item Exists

In [63]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)

"Yahia" %in% names_and_ages
"Yahia_ML" %in% names_and_ages

[1] TRUE

[1] FALSE

# Loop Through List

In [77]:
names_and_ages <- list("Yahia", 21, "Abdo", 20, "Ammar", 19, "Saeed", 20, "Waeel", 20)

for (item in names_and_ages) {
  print(item)
}

[1] "Yahia"
[1] 21
[1] "Abdo"
[1] 20
[1] "Ammar"
[1] 19
[1] "Saeed"
[1] 20
[1] "Waeel"
[1] 20

# Join lists

In [79]:
names <- list("Yahia", "Abdo", "Ammar", "Saeed", "Waeel")
ages <- list(21, 20, 19, 20, 20)

names_and_ages <- c(names,ages)
names_and_ages

[[1]]
[1] "Yahia"

[[2]]
[1] "Abdo"

[[3]]
[1] "Ammar"

[[4]]
[1] "Saeed"

[[5]]
[1] "Waeel"

[[6]]
[1] 21

[[7]]
[1] 20

[[8]]
[1] 19

[[9]]
[1] 20

[[10]]
[1] 20