<a href="https://colab.research.google.com/github/YahiaML/W3scools-R-course/blob/main/L_16_Arrays_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forming an Array

In [1]:
# An array with one dimension with values ranging from 1 to 24
thisarray <- c(1:24)
thisarray

# An array with more than one dimension
multiarray <- array(thisarray, dim = c(4, 3, 2))   # dim=c(num of rows, num of columns, num of dimensions) 
multiarray

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

, , 1

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

, , 2

     [,1] [,2] [,3]
[1,]   13   17   21
[2,]   14   18   22
[3,]   15   19   23
[4,]   16   20   24

#Access Array Items

In [3]:
multiarray <- array(c(1:24), dim = c(4, 3, 2))

multiarray[2, 3, 2]   # [row position, column position, matrix level (num of dimensions)] 

multiarray[2, 3, 2]   # Get a value

multiarray[c(1),,1]   #get first row from matrix one

multiarray[,c(1),1]   #get first column from matrix one

[1] 22

[1] 22

[1] 1 5 9

[1] 1 2 3 4

**Note:**

A comma (,) before c() means that we want to access the column.

A comma (,) after c() means that we want to access the row.

#Check if an Item Exists

In [10]:
multiarray <- array(c(1:24), dim = c(4, 3, 2))

2 %in% multiarray

[1] TRUE

#Number of Rows and Columns

In [9]:
multiarray <- array(c(1:24), dim = c(4, 3, 2))

dim(multiarray)
nrow(multiarray)
ncol(multiarray)

[1] 4 3 2

[1] 4

[1] 3

#Array Length

In [8]:
multiarray <- array(c(1:24), dim = c(4, 3, 2))

length(multiarray)

[1] 24

#Loop Through an Array

In [7]:
multiarray <- array(c(1:24), dim = c(4, 3, 2))

for(x in multiarray){
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17
[1] 18
[1] 19
[1] 20
[1] 21
[1] 22
[1] 23
[1] 24