#Arithmetic Operators
*	Addition	x + y	
*	Subtraction	x - y	
*	Multiplication	x * y	
*	Division	x / y	
*	Exponent	x ^ y	or X**Y
*	Modulus (Remainder from division)	x %% y	(returns the first number after the decimal point)
*	Integer Division	x%/%y

In [19]:
paste("5+3 =", 5+3)
paste("5-3 =", 5-3)
paste("5+3 =", 5+3)
paste("5*3 =", 5*3)
paste("5/3 =", 5/3)
paste("3**2 =", 3**2)
paste("3^2 =", 3^2)
paste("7 %/% 3 =", 7 %/% 3)
paste("15 %% 8 =", 15 %% 8)

[1] "5+3 = 8"

[1] "5-3 = 2"

[1] "5+3 = 8"

[1] "5*3 = 15"

[1] "5/3 = 1.66666666666667"

[1] "3**2 = 9"

[1] "3^2 = 9"

[1] "7 %/% 3 = 2"

[1] "15 %% 8 = 7"

#Comparison Operators
*	Equal	x == y	
*	Not equal	x != y	
*Greater than	x > y	
*	Less than	x < y	
*	Greater than or equal to	x >= y	
*	Less than or equal to	x <= y

In [22]:
"Yahia" == "Yahia"
"Yahia" != "Mahmoud"
"Yahia" >  "Mahmoud"                      # returns TRUE bec. Yahia starts with Y
nchar("Yahia") < nchar("Mahmoud")
9 >= 5
9 <= 5

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

#Logical Operators
&	 **Element**-wise Logical AND operator. It returns TRUE if both **elements** are TRUE

&&	**Logical** AND operator - Returns TRUE if both **statements** are TRUE

|	**Element**wise- Logical OR operator. It returns TRUE if one of the **statement** is TRUE

||	**Logical** OR operator. It returns TRUE if one of the **statement** is TRUE.

!	Logical NOT - returns FALSE if statement is TRUE

In [52]:
x <- 1:5
print("Without & :")
x > 2
cat("\n")
print("with &")
2< x & x < 4
cat("\n")
print("with &&")
1< x && x > 4

[1] "Without & :"

[1] FALSE FALSE  TRUE  TRUE  TRUE

[1] "with &"

[1] FALSE FALSE  TRUE FALSE FALSE

[1] "with &&"

Warning message in 1 < x && x > 4:
“'length(x) = 5 > 1' in coercion to 'logical(1)'”

[1] FALSE

*	Creates a series of numbers in a sequence	x <- 1:10

*	Find out if an element belongs to a vector	x %in% y

In [57]:
x <- 1:10
6 %in% x   # 6 in  x is not going to work
11 %in% x

[1] TRUE

[1] FALSE